{% extends 'base.html' %}
{% block content %}
<h1>Agenda</h1>

<!-- Contêiner do calendário -->
<div id="calendar" style="max-width: 80%; margin: 0 auto;"></div>

{{ eventos|json_script:"eventos-data" }}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        
        // Pegando o JSON de forma segura usando o id 'eventos-data'
        var eventos = JSON.parse(document.getElementById('eventos-data').textContent);
        
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            events: eventos,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            eventClick: function(info) {
                alert('Evento: ' + info.event.title + '\nDescrição: ' + info.event.extendedProps.description);
            }
        });
        calendar.render();
    });
</script>

{% endblock %}
