{% extends 'base.html' %}

{% block content %}
<h1>Agenda</h1>

<!-- Contêiner do calendário -->
<div id="calendar" style="max-width: 60%; margin: 0 auto; max-height: 70vh; box-sizing: border-box;"></div>

{{ eventos|json_script:"eventos-data" }}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        
        // Pegando o JSON de forma segura usando o id 'eventos-data'
        var eventos = JSON.parse(document.getElementById('eventos-data').textContent);
        
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            events: eventos,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            // Exibindo detalhes ao passar o mouse (hover) com tooltips
            eventMouseEnter: function(info) {
                var tooltip = document.createElement('div');
                tooltip.classList.add('fc-tooltip');
                tooltip.innerHTML = 'Evento: ' + info.event.title + 
                                    '<br>Paciente: ' + info.event.title.split(' - ')[1] + 
                                    '<br>Descrição: ' + info.event.extendedProps.description;
                
                // Estilizando o tooltip
                document.body.appendChild(tooltip);
                tooltip.style.position = 'absolute';
                tooltip.style.top = info.jsEvent.pageY + 'px';
                tooltip.style.left = info.jsEvent.pageX + 'px';
                tooltip.style.backgroundColor = 'white';
                tooltip.style.border = '1px solid #ccc';
                tooltip.style.padding = '5px';
                tooltip.style.zIndex = '1000';
                
                // Remover o tooltip ao sair
                info.el.onmouseleave = function() {
                    document.body.removeChild(tooltip);
                };
            },
            eventClick: function(info) {
                alert('Evento: ' + info.event.title + '\nDescrição: ' + info.event.extendedProps.description);
            }
        });

        calendar.render();
    });
</script>

{% endblock %}
